.cart-item{
   
    width: 50%;
    height: auto;
    margin-top: 2rem;
    margin-bottom:2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
}
.cart-item__left-block{
    width:40%;
    height:8rem;
    margin:1rem;
    
}
.cart-item__left-block img{
     border-radius: 2rem;
}
.cart-item__right-block{
    width: 60%;
    margin:1rem;
   
}
.procut-name{
    font-weight: 900;
    font-size: 1.8rem;
    padding:5px;
}
.action-icons{
    width: 1.8rem;
    padding: 5px;
}

.product-price,.product-qty{
    padding:5px;
    color:#777;
}
